.appHeader {
    padding-top: 5px;
    position: fixed;
    z-index: 99;
    background-color: #FFF;
    width: 100%;
}
  
.appMenu {
    background-color: #111;
    padding: 0;
}

.appMenu li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
  
.appMenu li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
  
.appContent {
    background-color: #FFF;
    padding: 20px;
    padding-top: 150px;
}
  
.active {
    background-color: #0099FF;
}